.body {
    display: flex;
    padding-top: 3%;
    justify-content: center;
    flex-direction: column;
    padding-left: 10%;
    align-items: flex-start;
    width: 100%;
    color: #FFD700;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1500px;
    margin-top: 30px;
    gap: 50px;
    
}

.introtext {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    flex: 4; 
}

.me-container {
    flex: 2; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.hi {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    margin-bottom: 3vh;
}

.aboutme {
    font-size: 20px;
    width: 100%;
}

.me {
    height: 500px;
    width: auto;
    border-radius: 100px;
}

.skillhead {
    font-size: 40px;
}

.skillbody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    font-size: 25px;
    padding-left: 50px;
    padding-top: 50px;
    width: 80vw;
    justify-content: center;
    row-gap: 40px;
    margin-bottom: 30px;
}

.skilldesc {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

.skillbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
    height: 270px;
    width: 270px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #FFD700;
    border: 1px solid black;
    border-radius: 20px;
    color: #222222;
}

.marginbot {
    margin-bottom: 10px;
}