* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
    width: 100%;
    min-height: 90px;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    background: rgb(24, 23, 23);
    color: #EAEAEA;
    font-family: 'Red Hat Display', sans-serif;
    
}

.nav-links {
    grid-column: 2;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;

    font-size: clamp(21px, 1.6vw, 35px);
    color: #FFD700;
    font-weight: 400;
}

.name:hover {
    cursor: pointer;
    color: rgb(206, 206, 206);
}

.nav-link:hover {
    color: #c3a602;
    cursor: pointer;
}

.social-icons {
    grid-column: 3;
    justify-self: end;
    display: flex;
    gap: 30px;
}

.icon {
    height: clamp(30px, 3vw, 80px);
    width: auto;
    filter: invert(50%) sepia(100%) saturate(2000%) hue-rotate(30deg) brightness(150%) contrast(100%);
}

.icon:hover {
    cursor: pointer;
    color: grey;
    filter: invert(50%) sepia(90%) saturate(600%) hue-rotate(20deg) brightness(100%) contrast(100%);
}

.footer {
    font-family: 'Red Hat Display', sans-serif;
    font-size: clamp(15px, 1vw, 30px);
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: center;
    padding-bottom: 1.2vh;
    color: #FFD700;
}